<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Android Activity</key>
	<string></string>
	<key>Android App Path</key>
	<string></string>
	<key>Android Automation Name</key>
	<string>Appium</string>
	<key>Android AVD</key>
	<string></string>
	<key>Android AVD Arguments</key>
	<string></string>
	<key>Android Bootstrap Port</key>
	<integer>4724</integer>
	<key>Android Browser Name</key>
	<string>Chrome</string>
	<key>Android Chromedriver Executable Path</key>
	<string></string>
	<key>Android Chromedriver Port</key>
	<real>9515</real>
	<key>Android Coverage Class</key>
	<string></string>
	<key>Android Device Name</key>
	<string></string>
	<key>Android Device Ready Timeout</key>
	<integer>5</integer>
	<key>Android Don&apos;t Stop App On Reset</key>
	<false/>
	<key>Android Full Reset</key>
	<false/>
	<key>Android Intent Action</key>
	<string>android.intent.action.MAIN</string>
	<key>Android Intent Category</key>
	<string>android.intent.category.LAUNCHER</string>
	<key>Android Intent Flags</key>
	<string>0x10200000</string>
	<key>Android Intent Arguments</key>
	<string></string>
	<key>Android Key Alias</key>
	<string></string>
	<key>Android Key Password</key>
	<string></string>
	<key>Android Keystore Password</key>
	<string></string>
	<key>Android Keystore Path</key>
	<string>/Users/me/.android/debug.keystore</string>
	<key>Android Language</key>
	<string>en</string>
	<key>Android Locale</key>
	<string>US</string>
	<key>Android Package</key>
	<string></string>
	<key>Android Platform Name</key>
	<string>Android</string>
	<key>Android Platform Version</key>
	<string>4.4 KitKat (API Level 19)</string>
	<key>Android Selendroid port</key>
	<real>8080</real>
	<key>Android Use Activity</key>
	<false/>
	<key>Android Use App Path</key>
	<false/>
	<key>Android Use AVD</key>
	<false/>
	<key>Android Use AVD Arguments</key>
	<false/>
	<key>Android Use Android Browser</key>
	<false/>
	<key>Android Use Bootstrap Port</key>
	<false/>
	<key>Android Use Chromedriver Executable Path</key>
	<false/>
	<key>Android Use Chromedriver Port</key>
	<false/>
	<key>Android Use Coverage Class</key>
	<false/>
	<key>Android Use Custom SDK Path</key>
	<false/>
	<key>Android Use Device Name</key>
	<false/>
	<key>Android Use Device Ready Timeout</key>
	<false/>
	<key>Android Use Intent Action</key>
	<false/>
	<key>Android Use Intent Category</key>
	<false/>
	<key>Android Use Intent Flags</key>
	<false/>
	<key>Android Use Intent Arguments</key>
	<false/>
	<key>Android Use Keystore</key>
	<false/>
	<key>Android Use Language</key>
	<false/>
	<key>Android Use Locale</key>
	<false/>
	<key>Android Use Package</key>
	<false/>
	<key>Android Use Selendroid Port</key>
	<false/>
	<key>Android Use Wait Activity</key>
	<false/>
	<key>Android Use Wait Package</key>
	<false/>
	<key>Android Wait Activity</key>
	<string></string>
	<key>Break On NodeJS Application Start</key>
	<false/>
	<key>Bypass Permissions Checks</key>
	<false/>
	<key>Callback Address</key>
	<string>127.0.0.1</string>
	<key>Callback Port</key>
	<integer>4723</integer>
	<key>Check For Updates</key>
	<true/>
	<key>Custom Flags</key>
	<string></string>
	<key>Developer Mode</key>
	<false/>
	<key>External Appium Package Path</key>
	<string>/Users/me/appium</string>
	<key>External NodeJS Binary Path</key>
	<string>/usr/local/bin/node</string>
	<key>Environment Variables</key>
	<array/>
	<key>Force Scroll Log</key>
	<false/>
	<key>Maximum Log Length</key>
	<integer>200000</integer>
	<key>Inspector CodeMaker Language</key>
	<string>Java</string>
	<key>Inspector Search For Locators From Current Element</key>
	<false/>
	<key>Inspector Shows Disabled Elements</key>
	<true/>
	<key>Inspector Shows Invisible Elements</key>
	<true/>
	<key>Inspector Uses CodeMaker Boilerplate</key>
	<true/>
	<key>Inspector Uses XPath Only</key>
	<false/>
	<key>iOS App Path</key>
	<string></string>
	<key>iOS Authorized</key>
	<false/>
	<key>iOS Backend Retries</key>
	<integer>3</integer>
	<key>iOS BundleID</key>
	<string></string>
	<key>iOS Calendar Format</key>
	<string>gregorian</string>
	<key>iOS Custom Trace Template Path</key>
	<string></string>
	<key>iOS Device Name</key>
	<string>iPhone 6</string>
	<key>iOS Full Reset</key>
	<false/>
	<key>iOS Instruments Binary Path</key>
	<string></string>
	<key>iOS Isolate Sim Device</key>
	<false/>
	<key>iOS Keep Keychains</key>
	<false/>
	<key>iOS Language</key>
	<string>en</string>
	<key>iOS Launch Timeout</key>
	<integer>90000</integer>
	<key>iOS Locale</key>
	<string>en_US</string>
	<key>iOS Localizable Strings Directory</key>
	<string></string>
	<key>iOS No Reset</key>
	<false/>
	<key>iOS Orientation</key>
	<string></string>
	<key>iOS Platform Version</key>
	<string>8.1</string>
	<key>iOS Show Simulator Log</key>
	<true/>
	<key>iOS Show System Log</key>
	<false/>
	<key>iOS Trace Directory</key>
	<string></string>
	<key>iOS UDID</key>
	<string></string>
	<key>iOS Use App Path</key>
	<false/>
	<key>iOS Use Backend Retries</key>
	<string></string>
	<key>iOS Use BundleID</key>
	<false/>
	<key>iOS Use Calendar</key>
	<false/>
	<key>iOS Use Custom Trace Template</key>
	<false/>
	<key>iOS Use Default Device</key>
	<true/>
	<key>iOS Use Instruments Binary Path</key>
	<false/>
	<key>iOS Use Language</key>
	<false/>
	<key>iOS Use Launch Timeout</key>
	<false/>
	<key>iOS Use Locale</key>
	<false/>
	<key>iOS Use Localizable Strings Directory</key>
	<false/>
	<key>iOS Use Mobile Safari</key>
	<false/>
	<key>iOS Use Native Instruments Library</key>
	<false/>
	<key>iOS Use Orientation</key>
	<false/>
	<key>iOS Use Trace Directory</key>
	<false/>
	<key>iOS Use UDID</key>
	<false/>
	<key>Kill Processes Using Port</key>
	<false/>
	<key>Log Colors</key>
	<true/>
	<key>Log File</key>
	<string>/tmp/appium.log</string>
	<key>Log Level</key>
	<string>default</string>
	<key>Log Timestamps</key>
	<false/>
	<key>Log Webhook</key>
	<string>localhost:9876</string>
	<key>New Command Timeout</key>
	<integer>7200</integer>
	<key>NodeJS Debug Port</key>
	<real>5858</real>
	<key>Override Existing Sessions</key>
	<false/>
	<key>Platform is Android</key>
	<false/>
	<key>Prelaunch Application</key>
	<false/>
	<key>Reset Application State</key>
	<true/>
	<key>Robot Address</key>
	<string>0.0.0.0</string>
	<key>Robot Port</key>
	<real>4</real>
	<key>Selenium Grid Configuration File</key>
	<string>/Users/me/nodeconfig.json</string>
	<key>Server Address</key>
	<string>0.0.0.0</string>
	<key>Server Port</key>
	<integer>4723</integer>
	<key>Temp Folder Path</key>
	<string>/tmp</string>
	<key>Use Additional Log Spacing</key>
	<false/>
	<key>Use Callback Address</key>
	<false/>
	<key>Use Callback Port</key>
	<false/>
	<key>Use Custom Flags</key>
	<false/>
	<key>Use External NodeJS Binary</key>
	<false/>
	<key>Use External Appium Package</key>
	<false/>
	<key>Use Local Timezone</key>
	<false/>
	<key>Use Log File</key>
	<false/>
	<key>Use Log Timestamps</key>
	<false/>
	<key>Use Log Webhook</key>
	<false/>
	<key>Use New Command Timeout</key>
	<true/>
	<key>Use NodeJS Debugging</key>
	<false/>
	<key>Use Remote Server</key>
	<false/>
	<key>Use Robot</key>
	<false/>
	<key>Use Selenium Grid Config File</key>
	<false/>
	<key>Use Strict Capabilities</key>
	<false/>
	<key>Use Temp Folder Path</key>
	<false/>
</dict>
</plist>
