<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Android Activity</key>
	<string></string>
	<key>Android Device Ready Timeout</key>
	<integer>5</integer>
	<key>Android Full Reset</key>
	<false/>
	<key>Android Key Alias</key>
	<string></string>
	<key>Android Key Password</key>
	<string></string>
	<key>Android Keystore Password</key>
	<string></string>
	<key>Android Keystore Path</key>
	<string>/Users/me/.android/debug.keystore</string>
	<key>Android Package</key>
	<string></string>
	<key>Android Wait Activity</key>
	<string></string>
	<key>App Path</key>
	<string>/</string>
	<key>AVD</key>
	<string></string>
	<key>Break On NodeJS Application Start</key>
	<false/>
	<key>BundleID</key>
	<string></string>
	<key>Check For Updates</key>
	<true/>
	<key>CodeMaker Language</key>
	<string>Java</string>
	<key>Custom Android SDK Path</key>
	<string></string>
	<key>Developer Mode</key>
	<false/>
	<key>Device</key>
	<string>iPad</string>
	<key>Devices</key>
	<array>
		<string>iPhone</string>
		<string>iPad</string>
	</array>
	<key>External Appium Package Path</key>
	<string>/Users/me/appium</string>
	<key>External NodeJS Binary Path</key>
	<string>/usr/local/bin/node</string>
	<key>Force Device</key>
	<false/>
	<key>Force Orientation</key>
	<false/>
	<key>Inspector Shows Disabled Elements</key>
	<true/>
	<key>Inspector Shows Invisible Elements</key>
	<true/>
	<key>Keep Artifacts</key>
	<true/>
	<key>Kill Processes Using Port</key>
	<true/>
	<key>Log File</key>
	<string>/tmp/appium.log</string>
	<key>Log Webhook</key>
	<string>localhost:9876</string>
	<key>NodeJS Debug Port</key>
	<integer>5858</integer>
	<key>Orientation</key>
	<string>Portrait</string>
	<key>Override Existing Sessions</key>
	<false/>
	<key>Prelaunch</key>
	<false/>
	<key>Reset Application State</key>
	<true/>
	<key>Robot Address</key>
	<string>0.0.0.0</string>
	<key>Robot Port</key>
	<real>4</real>
	<key>Selendroid Port</key>
	<integer>8080</integer>
	<key>Selenium Grid Config File</key>
	<string>/Users/me/nodeconfig.json</string>
	<key>Server Address</key>
	<string>0.0.0.0</string>
	<key>Server Port</key>
	<integer>4723</integer>
	<key>Tab State</key>
	<integer>0</integer>
	<key>UDID</key>
	<string></string>
	<key>Use Android Activity</key>
	<false/>
	<key>Use Android Device Ready Timeout</key>
	<false/>
	<key>Use Android Keystore</key>
	<false/>
	<key>Use Android Package</key>
	<false/>
	<key>Use Android Wait Activity</key>
	<false/>
	<key>Use App Path</key>
	<false/>
	<key>Use AVD</key>
	<false/>
	<key>Use BundleID</key>
	<false/>
	<key>Use CodeMaker Boilerplate</key>
	<true/>
	<key>Use Custom Android SDK Path</key>
	<false/>
	<key>Use External NodeJS Binary</key>
	<false/>
	<key>Use External Appium Package</key>
	<false/>
	<key>Use Log File</key>
	<false/>
	<key>Use Log Webhook</key>
	<false/>
	<key>Use Remote Server</key>
	<false/>
	<key>Use Mobile Safari</key>
	<false/>
	<key>Use Native Instruments Lib</key>
	<false/>
	<key>Use NodeJS Debugging</key>
	<false/>
	<key>Use Quiet Logging</key>
	<false/>
	<key>Use Robot</key>
	<false/>
	<key>Use Selendroid Port</key>
	<false/>
	<key>Use Selenium Grid Config File</key>
	<false/>
	<key>Use UDID</key>
	<false/>
	<key>Use XPath Only</key>
	<false/>
</dict>
</plist>
