<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Server Address</key>
	<string>127.0.0.1</string>
	<key>Server Port</key>
	<string>4723</string>
	<key>App Path</key>
	<string>/</string>
	<key>Use App Path</key>
	<false/>
	<key>Use UDID</key>
	<false/>
	<key>UDID</key>
	<string></string>
	<key>Verbose</key>
	<false/>
	<key>Prelaunch</key>
	<false/>
	<key>Reset Application State</key>
	<true/>
	<key>Keep Artifacts</key>
	<true/>
	<key>Check For Updates</key>
	<true/>
	<key>Use Warp</key>
	<false/>
	<key>Force Device</key>
	<false/>
	<key>Device</key>
	<string>iPhone</string>
	<key>Devices</key>
	<array>
		<string>iPhone</string>
		<string>iPad</string>
	</array>
</dict>
</plist>
