
v2/.DS_Store

.DS_Store

*.xcworkspacedata

*.xcuserstate

*.xcsettings

*.xcscheme

*.xcbkptlist

obj-c/Appium/Appium.xcodeproj/xcuserdata/danc.xcuserdatad/xcschemes/xcschememanagement.plist

node-webkit/build/Appium.app/Contents/Info.plist

node-webkit/build/Appium.app/Contents/Frameworks/node-webkit Helper.app/Contents/Info.plist

node-webkit/build/Appium.app/Contents/Frameworks/node-webkit Helper NP.app/Contents/Info.plist

node-webkit/build/Appium.app/Contents/Frameworks/node-webkit Helper EH.app/Contents/Info.plist
