<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Android Activity</key>
	<string></string>
	<key>Android Package</key>
	<string></string>
	<key>App Path</key>
	<string>/</string>
	<key>BundleID</key>
	<string></string>
	<key>Check For Updates</key>
	<true/>
	<key>Developer Mode</key>
	<false/>
	<key>Device</key>
	<string>iPad</string>
	<key>Devices</key>
	<array>
		<string>iPhone</string>
		<string>iPad</string>
	</array>
	<key>External Appium Package Path</key>
	<string>/Users/me/appium</string>
	<key>External NodeJS Binary Path</key>
	<string>/usr/local/bin/node</string>
	<key>Force Device</key>
	<false/>
	<key>Keep Artifacts</key>
	<true/>
	<key>Prelaunch</key>
	<false/>
	<key>Reset Application State</key>
	<true/>
	<key>Server Address</key>
	<string>0.0.0.0</string>
	<key>Server Port</key>
	<integer>4723</integer>
	<key>Tab State</key>
	<integer>0</integer>
	<key>UDID</key>
	<string></string>
	<key>Use Android Activity</key>
	<false/>
	<key>Use Android Package</key>
	<false/>
	<key>Use App Path</key>
	<false/>
	<key>Use BundleID</key>
	<false/>
	<key>Use External NodeJS Binary</key>
	<false/>
	<key>Use External Appium Package</key>
	<false/>
	<key>Use Remote Server</key>
	<false/>
	<key>Use Mobile Safari</key>
	<false/>
	<key>Use UDID</key>
	<false/>
	<key>Verbose</key>
	<true/>
	<key>Without Delay</key>
	<true/>
</dict>
</plist>
